name: CI

on:
  pull_request:
  merge_group:

jobs:
  build:
    uses: ./.github/workflows/build-package.yml
  
  ci-pass:
    runs-on: ubuntu-latest
    needs: build
    if: always()

    steps:
      # this explicit check is needed cfr. https://github.com/orgs/community/discussions/75568
      - name: "Check whether all jobs passed"
        run: echo '${{ toJSON(needs) }}' | jq -e 'to_entries | all(.value.result == "success")'
      - run: echo "ci passed"
